.additionally__wrapper {
  margin: 0 20px 32px 20px;
}

.additionally__title {
  position: relative;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  margin: 0;
  padding: 0;
  margin-bottom: 34px;
  background-color: #ffffff;
  width: 162px;
}

.additionally__title::before {
  position: absolute;
  content: "";
  width: 100vw;
  height: 2px;
  background-color: #68b738;
  left: 50%;
  top: 18px;
  z-index: -1;
}

.additionally__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 34px;
}

.additionally__item {
  margin-bottom: 12px;
}

.checkbox-block__label {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.checkbox-block__control {
  display: flex;
  cursor: pointer;
  align-items: center;
}

.checkbox-block__mark {
  position: relative;
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  margin-right: 15px;
}

.checkbox-block__mark:hover {
  border: 1px solid #bababa;
}

.checkbox-block__input:checked + .checkbox-block__mark::before {
  width: 24px;
  height: 19px;
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../img/checkbox.svg");
}

.checkbox-block__input:disabled + .checkbox-block__mark + .checkbox-block__label {
  opacity: 30%;
  pointer-events: none;
}

.checkbox-block__input:focus + .checkbox-block__mark {
  outline: 2px solid #444444;
}

.additionally__button {
  display: block;
  text-decoration: none;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  padding: 10px 0 10px 0;
  background: #68b738;
  width: 280px;
  margin: 0 auto;
  text-transform: uppercase;
  border: none;
  margin-bottom: 21px;
}

.additionally__button:hover {
  background-color: #5eaa2f;
}

.additionally__button:active {
  background-color: #5eaa2f;
  color: rgba(255, 255, 255, 0.3);
}

.additionally__important {
  display: flex;
  justify-content: center;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

@media (min-width: @tabletop-width) {
  .additionally__wrapper {
    position: relative;
    margin: 0 30px 60px 30px;
  }

  .additionally__title {
    position: static;
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 36px;
    margin: 0;
    padding: 0;
    margin-bottom: 57px;
    padding-left: 40px;
    width: 292px;
  }

  .additionally__title::before {
    top: 22px;
    left: calc((100vw - 100%) / -2);
  }

  .additionally__list {
    display: grid;
    grid-template-columns: 344px 284px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-bottom: 20px;
    margin-left: 40px;
  }

  .additionally__item {
    margin-bottom: 32px;
  }

  .checkbox-block__label {
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
  }

  .checkbox-block__control {
    display: flex;
    cursor: pointer;
  }

  .checkbox-block__mark {
    position: relative;
    width: 40px;
    height: 40px;
    border: 1px solid #cdcdcd;
    margin-right: 20px;
  }

  .checkbox-block__input:focus + .checkbox-block__mark {
    outline: 2px solid #444444;
  }

  .checkbox-block__input:checked + .checkbox-block__mark::before {
    width: 24px;
    height: 19px;
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-image: url("../img/checkbox.svg");
  }

  .checkbox-block__input:disabled + .checkbox-block__mark + .checkbox-block__label {
    opacity: 30%;
    pointer-events: none;
  }

  .additionally__submit {
    display: flex;
    margin-left: 40px;
  }

  .additionally__button {
    width: 284px;
    padding: 14px 65px;
    background: #68b738;
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    margin: 0;
    margin-right: 60px;
  }

  .additionally__important {
    font-family: "Lato", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    align-items: center;
  }
}

@media (min-width: @desktop-width) {
  .additionally__wrapper {
    margin: 0 110px 79px 70px;
  }

  .additionally__title {
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 36px;
    margin: 0;
    padding: 0;
    margin-bottom: 57px;
    padding-left: 40px;
  }

  .additionally__list {
    display: grid;
    grid-template-columns: 325px 325px 325px 325px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-bottom: 28px;
    margin-left: 40px;
  }

  .checkbox-block__label {
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
    margin-top: 5px;
  }

  .checkbox-block__control {
    display: flex;
    cursor: pointer;
  }

  .checkbox-block__mark {
    position: relative;
    width: 40px;
    height: 40px;
    border: 1px solid #cdcdcd;
    margin-right: 20px;
  }

  .checkbox-block__mark:hover {
    border: 1px solid #bababa;
  }

  .checkbox-block__input:checked + .checkbox-block__mark::before {
    width: 24px;
    height: 19px;
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-image: url("../img/checkbox.svg");
  }

  .checkbox-block__input:disabled + .checkbox-block__mark + .checkbox-block__label {
    opacity: 30%;
    pointer-events: none;
  }

  .checkbox-block__input:focus + .checkbox-block__mark {
    outline: 2px solid #444444;
  }

  .additionally__submit {
    display: flex;
  }

  .additionally__button {
    width: 570px;
    padding: 14px 188px 14px 188px;
    background: #68b738;
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    margin-right: 80px;
  }

  .additionally__button:hover {
    background-color: #5eaa2f;
  }

  .additionally__button:active {
    background-color: #5eaa2f;
    color: rgba(255, 255, 255, 0.3);
  }

  .additionally__important {
    font-family: "Lato", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    align-items: center;
  }
}
