.additionally__wrapper {
  width: 320px;
  margin: 0 auto 32px;
}

.additionally__title {
  position: relative;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  padding: 0;
  background-color: #ffffff;
  width: 162px;
  margin: 0 0 34px 20px;
}

.additionally__title::before {
  position: absolute;
  content: "";
  width: 100vw;
  height: 2px;
  background-color: #68b738;
  left: 50%;
  top: 15px;
  z-index: -1;
}

.additionally__list {
  margin: 0 0 34px 20px;
  padding: 0;
  list-style-type: none;
}

.additionally__item {
  margin-bottom: 12px;
}

.additionally__button {
  display: block;
  text-decoration: none;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  padding: 10px 0 10px 0;
  background: #68b738;
  width: 280px;
  margin: 0 auto;
  text-transform: uppercase;
  border: none;
  margin-bottom: 21px;
}

.additionally__button:hover {
  background-color: #5eaa2f;
}

.additionally__button:active {
  background-color: #5eaa2f;
  color: rgba(255, 255, 255, 0.3);
}

.additionally__important {
  display: flex;
  justify-content: center;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

@media (min-width: @tabletop-width) {
  .additionally__wrapper {
    position: relative;
    width: 708px;
    margin: 0 auto 60px;
  }

  .additionally__title {
    position: static;
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 36px;
    margin: 0;
    padding: 0;
    margin-bottom: 57px;
    padding-left: 40px;
    width: 292px;
  }

  .additionally__title::before {
    top: 22px;
    left: calc((100vw - 100%) / -2);
  }

  .additionally__list {
    display: grid;
    grid-template-columns: 344px 284px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-bottom: 20px;
    margin-left: 40px;
  }

  .additionally__item {
    margin-bottom: 32px;
  }

  .additionally__submit {
    display: flex;
    margin-left: 40px;
  }

  .additionally__button {
    width: 284px;
    padding: 14px 65px;
    background: #68b738;
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    margin: 0;
    margin-right: 60px;
  }

  .additionally__important {
    font-family: "Lato", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    align-items: center;
  }
}

@media (min-width: @desktop-width) {
  .additionally__wrapper {
    width: 1220px;
    margin: 0 auto 79px;
  }

  .additionally__title {
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 36px;
    margin: 0;
    padding: 0;
    margin-bottom: 56px;
    padding-left: 40px;
    margin-left: -40px;
  }

  .additionally__list {
    display: grid;
    grid-template-columns: 325px 325px 325px 325px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-bottom: 28px;
  }

  .additionally__submit {
    display: flex;
    margin: 0;
  }

  .additionally__button {
    width: 570px;
    padding: 14px 188px 14px 188px;
    background: #68b738;
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    margin-right: 80px;
  }

  .additionally__button:hover {
    background-color: #5eaa2f;
  }

  .additionally__button:active {
    background-color: #5eaa2f;
    color: rgba(255, 255, 255, 0.3);
  }

  .additionally__important {
    font-family: "Lato", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    align-items: center;
  }
}
