.example {
  position: relative;
  background-color: #F2F2F2;
}

.example__title {
  font-family: Oswald;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  margin: 0;
  padding: 0;
  padding: 25px 0 0 20px;
}

.example__wrapper {
  background-color: #F2F2F2;
}

.example__sample {
  margin: 40px 20px 0 20px;
}

.example__description {
  margin: 0;
  padding: 0;
  width: 280px;
  min-height: 108px;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 20px;
}

.example__tables {
  display: flex;
  margin-bottom: 20px;
}

.example__result {
  width: 124px;
  min-height: 56px;
  border: 1px solid #CDCDCD;
}

.example__value {
  margin: 0;
  padding: 0;
  font-family: Oswald;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  margin: 15px 0 18px 0;
}

.example__expenses {
  font-family: Lato;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.example__costs {
  display: flex;
  justify-content: center;
}

.example__price {
  font-family: Oswald;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

.example__food {
  font-family: Oswald;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.example__slider {
  position: relative;
  display: flex;
  width: 560px;
}

.example__after {
  display: flex;
  justify-content: flex-end;
}

.example__button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  padding: 11px 8px 11px 8px;
  border-radius: 20px;
  border: 2px solid #666666;
  background: #FFFFFF;
  top: 129px;
  right: 50%;
}

.example__button::before {
  position: absolute;
  content: "";
  width: 40px;
  height: 40px;
  padding: 11px 8px 11px 8px;
  border-radius: 20px;
  border: 2px solid #666666;
  background: #FFFFFF;
  z-index: 1;
}

.example__button::after {
  position: absolute;
  content: "";
  width: 4px;
  height: 256px;
  border-radius: 2px;
  background: #666666;
  transform: translate(0px, -21px);
}

.example__button--vector {
  z-index: 1;
}

@media (min-width: @tabletop-width) {

  .example {
    position: relative;
  }

  .example__title {
    font-family: Oswald;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    margin-left: 30px;
    padding: 0;
  }

  .example__wrapper {
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    margin: 0 30px;
  }

  .example__sample {
    margin: 0;
    margin-top: 60px;
  }

  .example__description {
    margin: 0;
    padding: 0;
    width: 436px;
    min-height: 96px;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 55px;
  }

  .example__total {
    display: flex;
    gap: 167px;
    align-items: center;
  }

  .example__tables {
    display: flex;
    margin-bottom: 23px;
  }

  .example__result {
    width: 162px;
    min-height: 72px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    border: 1px solid #CDCDCD;
  }

  .example__value {
    margin: 0;
    padding: 0;
    font-family: Oswald;
    font-size: 30px;
    font-weight: 400;
    line-height: 37px;
    text-align: center;
    margin: 15px 0 11px 0;
  }

  .example__expenses {
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    text-align: center;
  }

  .example__costs {
    display: block;
  }

  .example__price {
    font-family: Oswald;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    text-align: right;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
  }

  .example__food {
    font-family: Oswald;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
  }

  .example__slider {
    position: relative;
    display: flex;
    width: 560px;
  }

  .example__after {
    display: flex;
    justify-content: flex-end;
  }

  .example__button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    padding: 11px 8px 11px 8px;
    border-radius: 20px;
    border: 2px solid #666666;
    background: #FFFFFF;
    top: 257px;
    right: 50%;
  }

  .example__button::before {
    position: absolute;
    content: "";
    width: 40px;
    height: 40px;
    padding: 11px 8px 11px 8px;
    border-radius: 20px;
    border: 2px solid #666666;
    background: #FFFFFF;
    z-index: 1;
  }

  .example__button::after {
    position: absolute;
    content: "";
    width: 4px;
    height: 512px;
    border-radius: 2px;
    background: #666666;
    transform: translate(0px, -21px);
  }

  .example__button--vector {
    z-index: 1;
  }
}

@media (min-width: @desktop-width) {

    .example {
      position: relative;
    }

    .example__title {
      font-family: Oswald;
      font-size: 60px;
      font-weight: 400;
      line-height: 60px;
      margin: 0 0 76px 110px;
    }

    .example__wrapper {
      display: flex;
      background-color: #F2F2F2;
    }

    .example__sample {
      margin: 70px 224px 54px 110px;
      display: flex;
    }

    .example__block {
      width: 436px;
      margin-right: 224px;
    }

    .example__description {
      margin: 0;
      padding: 0;
      width: 436px;
      min-height: 96px;
      font-family: Lato;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      margin-bottom: 69px;
    }

    .example__total {
      display: block;
    }

    .example__tables {
      display: flex;
      margin-bottom: 23px;
    }

    .example__result {
      width: 162px;
      min-height: 72px;
      gap: 0px;
      border: 1px 0px 0px 0px;
      opacity: 0px;
      border: 1px solid #CDCDCD;
    }

    .example__value {
      margin: 0;
      padding: 0;
      font-family: Oswald;
      font-size: 30px;
      font-weight: 400;
      line-height: 37px;
      text-align: center;
      margin: 15px 0 11px 0;
    }

    .example__expenses {
      font-family: Lato;
      font-size: 14px;
      font-weight: 400;
      line-height: 14px;
      text-align: center;
    }

    .example__costs {
      display: flex;
      justify-content: left;
    }

    .example__price {
      font-family: Oswald;
      font-size: 20px;
      font-weight: 400;
      line-height: 20px;
      text-align: center;
      text-transform: uppercase;
    }

    .example__food {
      font-family: Oswald;
      font-size: 20px;
      font-weight: 400;
      line-height: 20px;
      margin-right: 63px;
      text-transform: uppercase;
    }

    .example__slider {
      position: relative;
      display: flex;
    }

    .example__after {
      display: flex;
      justify-content: flex-end;
    }

    .example__button {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      padding: 11px 8px 11px 8px;
      border-radius: 20px;
      border: 2px solid #666666;
      background: #FFFFFF;
      top: 50%;
      right: 50%;
    }

    .example__button::before {
      position: absolute;
      content: "";
      width: 40px;
      height: 40px;
      padding: 11px 8px 11px 8px;
      border-radius: 20px;
      border: 2px solid #666666;
      background: #FFFFFF;
      z-index: 1;
    }

    .example__button::after {
      position: absolute;
      content: "";
      width: 4px;
      height: 512px;
      border-radius: 2px;
      background: #666666;
      transform: translate(0px, -21px);
    }

    .example__button--vector {
      z-index: 1;
    }
}
