.extra__wrapper {
  width: 320px;
  margin: 0 auto 35px;
}

.extra__title {
  position: relative;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  margin-left: 20px;
  padding: 0;
  margin-bottom: 51px;
  background-color: #ffffff;
  width: 245px;
}

.extra__title::before {
  position: absolute;
  content: "";
  background-color: #68b738;
  width: 100vw;
  height: 2px;
  left: 50%;
  top: 15px;
  z-index: -1;
}

.extra__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.extra__item {
  position: relative;
  width: 280px;
  margin: 0 auto 31px;
}

.extra__item::before {
  position: absolute;
  content: "";
  background-color: #ebebeb;
  width: 280px;
  height: 1px;
  top: -14px;
}

.extra__name {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-bottom: 13px;
  color: #222222;
}

.extra__card {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.extra__amount {
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  margin: 0;
  padding: 0;
  color: #444444;
}

.extra__price {
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  margin: 0;
  padding: 0;
  color: #444444;
}

.extra__button {
  position: relative;
  display: block;
  text-decoration: none;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  padding: 10px 0 10px 0;
  background: #68b738;
  width: 280px;
  margin: 0 auto;
  text-transform: uppercase;
}

.extra__button::before {
  position: absolute;
  content: "";
  background-color: #ebebeb;
  width: 280px;
  height: 1px;
  bottom: -18px;
  left: 0;
}

.extra__button:hover {
  background-color: #5eaa2f;
}

.extra__button:active {
  background-color: #5eaa2f;
  color: rgba(255, 255, 255, 0.3);
}

.extra__item:last-child {
  margin-bottom: 54px;
}

.extra__gift {
  position: relative;
  width: 280px;
  min-height: 290px;
  background-image: url("../img/extra-gift-mobile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -2;
  margin: 0 auto;
}

.extra__gift::before {
  position: absolute;
  content: "";
  width: 280px;
  min-height: 290px;
  background: #68b738d9;
  opacity: 85%;
  z-index: -1;
}

.extra__gift::after {
  position: absolute;
  content: "";
  width: 80px;
  height: 83px;
  background-image: url("../img/gift.svg");
  left: 100px;
  top: 60px;
}

.extra__description {
  position: absolute;
  right: 60px;
  top: 172px;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  width: 161px;
}

@media (min-width: @tabletop-width) {
  .extra__wrapper {
    width: 708px;
    margin: 0 auto 75px;
    position: relative;
  }

  .extra__title {
    position: static;
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 36px;
    margin: 0;
    padding: 0;
    margin-bottom: 108px;
    padding-left: 40px;
    width: 418px;
  }

  .extra__title::before {
    position: absolute;
    content: "";
    background-color: #68b738;
    width: 100vw;
    height: 2px;
    left: calc((100vw - 100%) / -2);
    top: 22px;
    z-index: -1;
  }

  .extra__table {
    display: block;
  }

  .extra__list {
    list-style-type: none;
    padding: 0;
    width: 632px;
    margin: 0 auto;
    margin-bottom: 100px;
  }

  .extra__item {
    display: block;
    width: 632px;
    min-height: 85px;
    margin: 28px 0 53px;
  }

  .extra__item::before {
    width: 707px;
    min-height: 138px;
    outline: 1px solid #cdcdcd;
    background-color: #ffffff;
    z-index: -1;
    margin-left: -38px;
    margin-top: -12px;
  }

  .extra__item:last-child {
    margin-bottom: 0;
  }

  .extra__total {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }

  .extra__name {
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
  }

  .extra__card {
    margin: 0;
  }

  .extra__amount {
    font-family: "Lato", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin: 0;
    padding: 0;
    margin-right: 49px;
  }

  .extra__price {
    font-family: "Lato", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin: 0;
    padding: 0;
  }

  .extra__button {
    position: static;
    width: 632px;
    height: 40px;
    padding: 10px 0 10px 0;
    text-decoration: none;
    background: #68b738;
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
  }

  .extra__button::before {
    display: none;
  }

  .extra__button:hover {
    background-color: #5eaa2f;
  }

  .extra__button:active {
    background-color: #5eaa2f;
    color: rgba(255, 255, 255, 0.3);
  }

  .extra__gift {
    position: relative;
    width: 707px;
    min-height: 200px;
    background-image: url("../img/extra-gift-tablet.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0;
    z-index: -2;
  }

  .extra__gift::before {
    position: absolute;
    content: "";
    width: 707px;
    min-height: 200px;
    background: #68b738d9;
    opacity: 85%;
    z-index: -1;
  }

  .extra__gift::after {
    left: 78px;
    top: 56px;
  }

  .extra__image {
    position: absolute;
    left: 78px;
    top: 56px;
  }

  .extra__description {
    margin: 0 auto;
    padding: 0;
    font-family: "Lato", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #ffffff;
    width: 161px;
    position: absolute;
    right: 124px;
    top: 70px;
    text-align: start;
  }
}

@media (min-width: @desktop-width) {
  .extra__wrapper {
    width: 1220px;
    margin: 0 auto 90px;
  }

  .extra__title {
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 36px;
    margin: 0;
    padding: 0;
    margin-bottom: 76px;
    padding-left: 40px;
    margin-left: -40px;
  }

  .extra__goods {
    display: flex;
  }

  .extra__table {
    display: flex;
  }

  .extra__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 896px;
  }

  .extra__item {
    position: relative;
    display: grid;
    grid-template-columns: 651px 245px;
    min-height: 40px;
    margin: 27px 0;
  }

  .extra__item::before {
    width: 895px;
    min-height: 1px;
    margin: 0;
    background-color: #cdcdcd;
    z-index: -1;
    top: -26px;
    outline: none;
  }

  .extra__item::after {
    position: absolute;
    content: "";
    width: 895px;
    min-height: 1px;
    margin: 0;
    background-color: #cdcdcd;
    z-index: -1;
    outline: none;
    bottom: -2px;
  }

  .extra__total {
    justify-content: start;
  }

  .extra__name {
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    width: 325px;
  }

  .extra__card {
    align-items: center;
  }

  .extra__amount {
    font-family: "Lato", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin: 0;
    padding: 0;
    width: 243px;
  }

  .extra__price {
    font-family: "Lato", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin: 0;
    padding: 0;
    margin-right: 40px;
  }

  .extra__button {
    position: relative;
    width: 244px;
    height: 40px;
    padding: 10px 0 10px 0;
    text-decoration: none;
    background: #68b738;
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    margin-top: -9px;
  }

  .extra__item:last-child {
    margin-bottom: 0;
  }

  .extra__gift {
    position: relative;
    width: 245px;
    min-height: 288px;
    background-image: url("../img/extra-gift-desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 80px;
    z-index: -2;
  }

  .extra__gift::before {
    position: absolute;
    content: "";
    width: 245px;
    min-height: 288px;
    background: #68b738d9;
    opacity: 85%;
    z-index: -1;
  }

  .extra__gift::after {
    left: 84px;
    top: 58px;
  }

  .extra__image {
    position: absolute;
    left: 84px;
    top: 58px;
  }

  .extra__description {
    position: absolute;
    right: 40px;
    top: 188px;
    margin: 0 auto;
    padding: 0;
    font-family: "Lato", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    color: #ffffff;
    width: 161px;
  }
}

@media (min-resolution: 2dppx) {
  .extra__gift {
    background-image: url("../img/extra-gift-mobile@2x.jpg");
  }
}

@media (min-width: @tabletop-width) and (min-resolution: 2dppx) {
  .extra__gift {
    background-image: url("../img/extra-gift-tablet@2x.jpg");
  }
}

@media (min-width: @desktop-width) and (min-resolution: 2dppx) {
  .extra__gift {
    background-image: url("../img/extra-gift-desktop@2x.jpg");
  }
}
