.food__wrapper {
  display: flex;
  margin: 20px 20px 0 20px;
}

.food__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.food__item {
  width: 280px;
  min-height: 266px;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.food__title {
  display: flex;
  align-items: center;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  text-transform: uppercase;
  padding: 19px 20px 17px 20px;
  margin: 0;
}

.food__title-weight {
  display: flex;
  align-items: center;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  text-transform: uppercase;
  padding: 24px 20px 14px 13px;
  margin: 0;
}

.food__description {
  position: relative;
  margin: 0 33px 38px 20px;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.food__description::before {
  position: absolute;
  content: "";
  background-color: #d9d9d9;
  width: 240px;
  height: 1px;
  top: 112px;
}

.food__image-slimming {
  margin-right: 20px;
}

.food__image-weight {
  margin-right: 12px;
}

.food__catalog {
  margin: 0 0 22px 20px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.food__catalog:hover {
  & .food__link {
    width: 32px;
  }
}

.food__link {
  margin-left: 13px;
}

@media (min-width: @tabletop-width) {
  .food__wrapper {
    margin: 0 30px 40px 30px;
  }

  .food__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .food__item {
    width: 708px;
    min-height: 372px;
    background-color: #f2f2f2;
    margin-bottom: 0;
    position: relative;
  }

  .food__title {
    margin: 72px 0 25px 52px;
    font-size: 36px;
    line-height: 36px;
    padding: 0;
  }

  .food__title-weight {
    margin: 72px 0 25px 52px;
    font-size: 36px;
    line-height: 36px;
    padding: 0;
  }

  .food__description {
    margin: 0 61px 52px 52px;
    font-size: 16px;
    line-height: 24px;
    width: 335px;
  }

  .food__description::before {
    display: none;
  }

  .food__image-slimming {
    width: 200px;
    height: 211px;
    position: absolute;
    right: 42px;
    top: 76px;
  }

  .food__image-weight {
    width: 268px;
    height: 200px;
    position: absolute;
    right: 16px;
    top: 86px;
  }

  .food__catalog {
    display: flex;
    align-items: center;
    margin: 0 0 59px 52px;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
  }

  .food__link {
    margin-left: 25px;
  }
}

@media (min-width: @desktop-width) {
  .food__wrapper {
    margin: 0 110px 71px 110px;
  }

  .food__list {
    display: flex;
    flex-direction: row;
    gap: 80px;
  }

  .food__item {
    width: 570px;
    min-height: 374px;
    background-color: #f2f2f2;
    margin-bottom: 0;
  }

  .food__title {
    margin: 41px 0 37px 52px;
    font-size: 36px;
    line-height: 36px;
  }

  .food__title-weight {
    margin: 45px 0 38px 32px;
  }

  .food__description {
    margin: 0 61px 27px 52px;
    font-size: 16px;
    line-height: 24px;
    width: 457px;
  }

  .food__image-slimming {
    margin-right: 62px;
    width: 100px;
    height: 106px;
    position: static;
  }

  .food__image-weight {
    margin-right: 47px;
    width: 134px;
    height: 100px;
    position: static;
  }

  .food__catalog {
    margin: 0 0 59px 53px;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
  }

  .food__catalog:hover {
    & .food__link {
      width: 32px;
    }
  }

  .food__catalog:active {
    opacity: 30%;
  }

  .food__link {
    margin: 0 0 3px 25px;
  }
}
