.main-footer {
  position: relative;
  width: 320px;
  margin: 0 auto;
}

.main-footer::before {
  content: "";
  position: absolute;
  left: calc((100vw - 100%) / -2);
  top: 0;
  background-color: #f2f2f2;
  height: 100%;
  width: 100vw;
  z-index: -1;
}

.main-footer__wrapper {
  margin: 0;
  padding: 40px 20px;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: @tabletop-width) {
  .main-footer {
    width: 708px;
  }

  .main-footer__wrapper {
    display: flex;
    width: 708px;
    margin: 0 auto;
    padding: 60px 0 60px 0;
    justify-content: space-between;
    align-items: center;
  }
}

@media (min-width: @desktop-width) {
  .main-footer {
    width: 1220px;
  }

  .main-footer__wrapper {
    display: flex;
    width: 1220px;
    margin: 0 auto;
    padding: 68px 0 68px 0;
    justify-content: space-between;
    align-items: center;
  }
}
