.main-header {
    display: flex;
    position: relative;
    justify-content: space-between;
  }

  .main-header__toggle {
    padding: 0;
    border: none;
    background-color: transparent;
  }

  .main-header__list {
    display: none;
  }

  .main-header__menu-close {
    display: none;
  }

  .main-header__menu {
    position: absolute;
    top: 63px;
    z-index: 1;
    width: 320px;
    background: #FCFCFC;
  }

  .main-header__menu-content {
    height: 100%;
  }

  .main-header__menu-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  .main-header__menu-item {
    padding: 22px 75px 24px 75px;
  }

  .main-header__menu-link {
    font-family: Oswald;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
  }

@media (min-width: @tabletop-width) {

  .main-header {
    margin: 25px 30px 0 30px;
    justify-content: space-between;
  }

  .main-header__logo {
    width: 174px;
    height: 50px;
  }

  .main-header__navigation {
    display: flex;
  }

  .main-header__toggle {
    display: none;
  }

  .main-header__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 33px;
    font-family: Oswald;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    text-transform: uppercase;
    align-items: center;
  }

  .main-header__link {
    color: #000000;
    text-decoration: none;
  }

}

@media (min-width: @desktop-width) {

  .main-header {
    margin: 55px 110px 0 110px;
    justify-content: space-between;
  }

  .main-header__logo {
    width: 202px;
    height: 59px;
  }

  .main-header__navigation {
    display: flex;
  }

  .main-header__toggle {
    display: none;
  }

  .main-header__list {
    list-style-type: none;
    display: flex;
    gap: 33px;
    color: #ffffff;
    font-family: Oswald;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    text-transform: uppercase;
  }

  .main-header__link {
    color: #ffffff;
    text-decoration: none;
  }

}
