.products__wrapper {
  margin: 25px 20px 50px 20px;
}

.products__title {
  margin: 0;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  margin-bottom: 62px;
}

.products__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.products__item {
  position: relative;
}

@media (min-width: @tabletop-width) {
  .products__wrapper {
    margin: 60px 30px 70px 30px;
  }

  .products__title {
    margin: 0;
    padding: 0;
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    margin-bottom: 84px;
  }

  .products__list {
    display: grid;
    grid-template-columns: 324px 324px;
    grid-template-rows: 511px 511px 511px 511px;
    gap: 60px;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .products__item {
    position: relative;
  }

  .products__item::before {
    position: absolute;
    content: "";
    background-color: #f2f2f2;
    width: 324px;
    min-height: 430px;
    z-index: -1;
    bottom: 0;
  }

  .products__item:last-child::before {
    position: absolute;
    content: "";
    background-color: #ffffff;
    width: 324px;
    min-height: 430px;
    z-index: -1;
    bottom: 0;
    left: 0;
    border: 2px solid #f2f2f2;
    top: 82px;
  }
}

@media (min-width: @desktop-width) {
  .products__wrapper {
    margin: 70px 110px 60px 110px;
  }

  .products__title {
    margin: 0;
    padding: 0;
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    margin-bottom: 99px;
  }

  .products__list {
    display: grid;
    grid-template-columns: 245px 245px 245px 245px;
    grid-template-rows: 511px 511px;
    gap: 63px 80px;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .products__item {
    position: relative;
  }

  .products__item::before {
    position: absolute;
    content: "";
    background-color: #f2f2f2;
    width: 245px;
    min-height: 430px;
    z-index: -1;
    bottom: 15px;
  }

  .products__item:last-child::before {
    position: absolute;
    content: "";
    background-color: #ffffff;
    width: 245px;
    min-height: 430px;
    z-index: -1;
    bottom: 0;
    border: 2px solid #f2f2f2;
  }
}
