.product {
  margin-bottom: 45px;
}

.product__card {
  display: flex;
}

.product__link {
  text-decoration: none;
  width: 140px;
}

.product__image {
  display: block;
  margin: 0 auto;
}

.product__name {
  display: flex;
  margin: 0;
  padding: 0;
  font-family: "Oswald", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: #222222;
  text-align: center;
  width: 76px;
  margin-bottom: 14px;
}

.product__description {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 140px;
}

.product__item {
  display: flex;
  justify-content: space-between;
}

.product__category {
  font-family: "Lato", Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

.product__value {
  font-family: "Lato", Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

.product__button {
  display: block;
  text-decoration: none;
  font-family: "Oswald", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  padding: 10px 0px 10px 0px;
  background: #68B738;
  width: 280px;
  margin: 0 auto;
  text-transform: uppercase;
}

.product-more__image {
  margin: 0;
  padding: 0;
  margin-bottom: 23px;
}

.product-more__name {
  display: flex;
  margin: 0 auto;
  padding: 0;
  font-family: "Oswald", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: #222222;
  text-align: center;
  width: 204px;
  margin-bottom: 8px;
}

.product-more__show {
  font-family: "Lato", Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  margin: 0 51px 21px 51px;
}

.product-more__button {
  display: block;
  text-decoration: none;
  font-family: "Oswald", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: #444444;
  padding: 10px 0px 10px 0px;
  background: #F2F2F2;
  width: 280px;
  margin: 0 auto;
  text-transform: uppercase;
}

@media (min-width: @tabletop-width) {

  .product {
    margin-bottom: 0;
  }

  .product__card {
    display: block;
  }

  .product__link {
    text-decoration: none;
  }

  .product__image {
    display: block;
    margin: 0 auto;
  }

  .product__name {
    display: flex;
    margin: 0 auto;
    padding: 0;
    font-family: "Oswald", Arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    color: #222222;
    text-align: center;
    width: 140px;
    margin-bottom: 23px;
    margin-top: 19px;
  }

  .product__description {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin: 0 auto;
    width: 169px;
    margin-bottom: 37px;
  }

  .product__item {
    display: flex;
    justify-content: space-between;
  }

  .product__category {
    font-family: "Lato", Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
  }

  .product__value {
    font-family: "Lato", Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
  }

  .product__button {
    display: block;
    text-decoration: none;
    font-family: "Oswald", Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    padding: 10px 0px 10px 0px;
    background: #68B738;
    width: 250px;
    margin: 0 auto;
    text-transform: uppercase;
  }

  .product-more__image {
    display: block;
    padding: 0;
    margin: 50px auto;
  }

  .product-more__name {
    display: flex;
    margin: 0 auto;
    padding: 0;
    font-family: "Oswald", Arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    color: #222222;
    text-align: center;
    width: 140px;
    margin-bottom: 26px;
  }

  .product-more__show {
    font-family: "Lato", Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
    margin: 0 38px 43px 38px;
  }

  .product-more__button {
    display: block;
    text-decoration: none;
    font-family: "Oswald", Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    color: #444444;
    padding: 10px 0px 10px 0px;
    background: #F2F2F2;
    width: 169px;
    margin: 0 auto;
    text-transform: uppercase;
  }

}

@media (min-width: @desktop-width) {

  .product {
    margin-bottom: 0;
  }

  .product__card {
    display: block;
  }

  .product__link {
    text-decoration: none;
  }

  .product__image {
    display: block;
    margin: 0 auto;
  }

  .product__name {
    display: flex;
    margin: 0 auto;
    padding: 0;
    font-family: "Oswald", Arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    color: #222222;
    text-align: center;
    width: 140px;
    margin-bottom: 23px;
    margin-top: 19px;
  }

  .product__description {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin: 0 38px 43px 38px;
    width: 169px;
  }

  .product__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .product__item:nth-child(3n) {
    margin-bottom: 0;
  }

  .product__category {
    font-family: "Lato", Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
  }

  .product__value {
    font-family: "Lato", Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
  }

  .product__button {
    display: block;
    text-decoration: none;
    font-family: "Oswald", Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    padding: 10px 0px 10px 0px;
    background: #68B738;
    width: 169px;
    margin: 0 auto;
    text-transform: uppercase;
  }

  .product-more__image {
    padding: 0;
    margin: 130px 93px 40px 93px;
  }

  .product-more__name {
    display: flex;
    margin: 0 auto;
    padding: 0;
    font-family: "Oswald", Arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    color: #222222;
    text-align: center;
    width: 140px;
    margin-bottom: 26px;
  }

  .product-more__show {
    font-family: "Lato", Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
    margin: 0 38px 43px 38px;
  }

  .product-more__button {
    display: block;
    text-decoration: none;
    font-family: "Oswald", Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    color: #444444;
    padding: 10px 0px 10px 0px;
    background: #F2F2F2;
    width: 169px;
    margin: 0 auto;
    text-transform: uppercase;
  }

}
