.program {
  position: relative;
  min-height: 542px;
}

.program::before {
  position: absolute;
  content: "";
  background-color: #68B738D9;
  width: 720px;
  height: 694px;
  right: 0;
  top: -235px;
  z-index: -1;
}

.program__wrapper {
  margin: 0 110px 0 110px;
}

.program__header {
  margin: 110px 0 0 80px;
  width: 414px;
}

.program__title {
  font-family: Oswald;
  font-size: 60px;
  font-weight: 400;
  line-height: 60px;
  text-align: left;
  margin: 0;
}

.program__slogan {
  margin: 0;
  font-family: Oswald;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  margin-top: 40px;
  margin-bottom: 52px;
  text-transform: uppercase;
}

.program__toggle {
  width: 244px;
  height: 54px;
  top: 456px;
  left: 190px;
  padding: 14px 26px 14px 26px;
  gap: 4px;
  opacity: 0px;
  background-color: #68B738;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

.program__image {
  position: absolute;
  left: 557px;
  right: 331px;
  top: -92px;
}
