.site-header {
  display: flex;
  position: relative;
  justify-content: space-between;
  margin-top: 13px;
  margin-bottom: 13px;
}

.site-header::before {
  position: absolute;
  content: "";
  background-color: #d9d9d9;
  width: 100vw;
  height: 1px;
  left: calc((100vw - 100%) / -2);
  bottom: -10px;
}

.site-header--nojs {
  flex-wrap: wrap;

  & .main-header__toggle {
    display: none;
  }

  & .main-header__menu {
    position: relative;
    top: 0;
  }
}

.site-header__toggle {
  padding: 0;
  border: none;
  background-color: transparent;
  position: absolute;
  right: 0;
  cursor: pointer;
  margin-right: 20px;
  padding-top: 7px;
}

.site-header__menu {
  position: absolute;
  top: 52px;
  right: 0;
  z-index: 1;
  background: #ffffff;
  width: 100%;
}

.site-header__menu-closed {
  display: none;
}

.site-header__menu-opened {
  display: block;
}

.site-header__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.site-header__item {
  position: relative;
  padding: 21px;
}

.site-header__item::after {
  position: absolute;
  content: "";
  width: 320px;
  height: 1px;
  background-color: #e6e6e6;
  bottom: 0;
  left: 0;
}

.site-header__link {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.site-header__logo {
  margin-left: 20px;
}

@media (min-width: @tabletop-width) {
  .site-header {
    margin: 25px 30px 0 30px;
    justify-content: start;
    gap: 94px;
    align-items: center;
  }

  .site-header::before {
    display: none;
  }

  .site-header__logo {
    width: 174px;
    height: 50px;
    margin: 0;
  }

  .site-header__navigation {
    display: flex;
  }

  .site-header__toggle {
    display: none;
  }

  .site-header__menu {
    position: relative;
    background: none;
    top: 0;
    left: 0;
  }

  .site-header__menu-closed {
    display: block;
  }

  .site-header__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 33px;
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-transform: uppercase;
    align-items: center;
  }

  .site-header__item {
    padding: 0;
  }

  .site-header__item::after {
    display: none;
  }

  .site-header__link {
    color: #000000;
    text-decoration: none;
    margin: 0;
    font-size: 18px;
    line-height: 24px;
  }

  .site-header__item--current {
    text-decoration: underline;
    text-decoration-color: #68b738;
    text-underline-offset: 10px;
  }

  .site-header__link:hover {
    opacity: 80%;
  }

  .site-header__link:active {
    opacity: 60%;
  }
}

@media (min-width: @desktop-width) {
  .site-header {
    margin: 55px 110px 0 110px;
    justify-content: space-between;
    align-items: center;
  }

  .site-header__logo {
    width: 202px;
    height: 59px;
  }

  .site-header__navigation {
    display: flex;
  }

  .site-header__toggle {
    display: none;
  }

  .site-header__menu-closed {
    display: block;
  }

  .site-header__list {
    list-style-type: none;
    display: flex;
    gap: 33px;
    color: #ffffff;
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    text-transform: uppercase;
  }

  .site-header__item--current {
    text-decoration: underline;
    text-decoration-color: #68b738;
    text-underline-offset: 10px;
  }

  .site-header__link {
    color: #111111;
    text-decoration: none;
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    margin-left: 0;
  }

  .site-header__link:hover {
    opacity: 60%;
  }

  .site-header__link:active {
    text-decoration: underline;
    text-decoration-color: #68b738;
    text-underline-offset: 10px;
  }
}
