.work__wrapper {
  margin: 0 20px 45px 20px;
}

.work__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  margin: 0;
  margin-bottom: 40px;
}

.work__list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.work__item {
  display: flex;
  width: 280px;
  min-height: 60px;
}

.work__item:last-child {
  margin-bottom: 0;
}

.work__image {
  margin-right: 20px;
}

.work__description {
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin: 0;
  padding: 0;
}

@media (min-width: @tabletop-width) {
  .work__wrapper {
    margin: 0 30px 92px 30px;
  }

  .work__title {
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    margin: 0;
    margin-bottom: 32px;
  }

  .work__list {
    position: relative;
    display: grid;
    grid-template-columns: 346px 230px;
    counter-reset: workCounter;
    list-style-type: none;
    padding: 0;
    gap: 37px;
    margin: 0;
  }

  .work__list::before {
    position: absolute;
    content: "";
    background-color: #e6e6e6;
    width: 100vw;
    height: 1px;
    left: calc((100vw - 100%) / -2);
    bottom: -48px;
    right: -30px;
  }

  .work__item {
    flex-direction: column;
    counter-increment: workCounter;
    width: 230px;
    min-height: 280px;

    &--sheet {
      position: relative;
    }

    &--powder {
      position: relative;
    }

    &--reception {
      position: relative;
    }

    &--time {
      position: relative;
    }
  }

  .work__item::before {
    position: absolute;
    content: counter(workCounter);
    width: 134px;
    height: 280px;
    font-size: 280px;
    font-weight: 400;
    line-height: 280px;
    text-align: center;
    color: #f2f2f2;
    z-index: -1;
    left: 50%;
  }

  .work__image {
    margin-top: 40px;
    width: 80px;
    height: 80px;
  }

  .work__description {
    font-family: "Lato", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 26px;
    width: 242px;
  }
}

@media (min-width: @desktop-width) {
  .work__wrapper {
    margin: 0 110px 68px 110px;
  }

  .work__title {
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    margin: 0;
    margin-bottom: 32px;
  }

  .work__list {
    display: flex;
    counter-reset: workCounter;
    list-style-type: none;
    padding: 0;
    gap: 94px;
    margin: 0;
  }

  .work__list::before {
    display: none;
  }

  .work__item {
    position: relative;
    flex-direction: column;
    counter-increment: workCounter;
    width: 230px;
    min-height: 280px;

    &--sheet {
      position: relative;
    }

    &--powder {
      position: relative;
    }

    &--reception {
      position: relative;
    }

    &--time {
      position: relative;
    }
  }

  .work__item::before {
    position: absolute;
    content: counter(workCounter);
    width: 134px;
    height: 280px;
    font-size: 280px;
    font-weight: 400;
    line-height: 280px;
    text-align: center;
    color: #f2f2f2;
    z-index: -1;
    left: 50%;
  }

  .work__image {
    margin-top: 40px;
  }

  .work__description {
    font-family: "Lato", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin: 26px 0 0 0;
  }
}
